h1, h2, #coffee-type {
    font-size: 48px;
}

h1, h2 {
    margin: 20px;
}

p, span {
    font-size: 24px;
}

#logo {
    font-size: 60px;
}

li, label, select {
    font-size: 32px;
}

nav {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    margin-bottom: 60px;
}

#logo-title {
    display: flex;
    flex-direction: row;
}

#logo-img {
    max-height: 120px;
}

a {
    text-decoration: none;
    color: #351E0B;
}

body {
    font-family: 'Inter Tight', sans-serif;
    color: #351E0B;
    background-color: #FFFFFA;
    /* margin-left: 100px;
    margin-right: 100px; */
}

#intro-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

#intro-section-text {
    display: flex;
    flex-direction: column;
}

#ellipse-img{
    --animate-duration: 5s;
}

#coffee-cards {
    background-image: url("../images/cards-background.png");
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    padding-top: 100px;
    padding-bottom: 60px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E0EDFF;
    border-style: solid;
    border-width: 3px;
    border-color: #1D7BFF;
    border-radius: 30px;
    width: 290px;
    height: 290px;
    margin-bottom: 40px;
}

.card:hover {
    background-color: #B0D1FF;
}

.card-img {
    width: 172.75px;
    height: 136px;
}

.card-title {
    margin-bottom: 0px;
}

#modal {
    border: 4px solid #1D7BFF;
    border-radius: 40px;
    background-color: #FFFFFA;
    max-width: 70%;
    padding: 50px;
    margin: auto;
}

#modal-background {
    z-index: 1; 
    display: none; 
    position: fixed; 
    top: 0;
    left: 0;
    /* width: 100%; 
    height: 100%;  */
}

#modal-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

#modal-img {
    width: 500px;
}

#close {
    width: 60px;
}

#coffee-type, #coffee-description, #enjoyed-with, #fun-fact {
    max-width: max-content;
    margin-bottom: 10px;
    margin-top: 10px;
}

#coffee-description, #enjoyed-with, #fun-fact {
    margin-top: 0;
}

#coffee-description {
    font-style: italic;
}

#ratio-background {
    background-image: url("../images/ratio-background.png");
    background-position: center center;
}

#ratio-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 230px;
    padding-bottom: 230px;
}

#selection-area {
    border: 4px solid #1D7BFF;
    border-radius: 30px;
    background-color: #FFFFFA;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    gap: 20px;
}

select {
    border-radius: 40px;
    padding: 20px;
    color: #351E0B;
}

#instructions {
    margin-bottom: 0px;
}

#dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#results {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

#right-side {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#servings-image {
    width: 300px;;
}

.measurement {
    font-weight: bold;
}

.recipe-line {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.servings, #make {
    font-size: 24px;
    font-family: 'Inter Tight', sans-serif;;
    background-color: #FFFFFA;
    border: 2px solid #1D7BFF;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.servings:hover, #close:hover, #make:hover {
    filter: brightness(0.8);
}


.steam {
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #fff;
    margin-top: -75px;
    margin-left: 75px;
    z-index: 0;
    opacity: 0;
  }
  
  #steam-one {
    -webkit-animation: steam-one 4s ease-out infinite;
    animation: steam-one 4s ease-out infinite;
  }
  
  #steam-three {
    -webkit-animation: steam-one 4s ease-out 1s infinite;
    animation: steam-one 4s ease-out 1s infinite;
  }
  
  @-webkit-keyframes steam-one {
    0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
    100% {transform: translateY(-200px) translateX(-40px) scale(1); opacity: 0;}
  }
  
  @keyframes steam-one {
    0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
    100% {transform: translateY(-200px) translateX(-40px) scale(1); opacity: 0;}
  }
  
  #steam-two {
    -webkit-animation: steam-two 4s ease-out 0.5s infinite;
    animation: steam-two 4s ease-out 0.5s infinite;
  }
  
  #steam-four {
    -webkit-animation: steam-two 4s ease-out 1.5s infinite;
    animation: steam-two 4s ease-out 1.5s infinite;
  }
  
  @-webkit-keyframes steam-two {
    0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
    100% {transform: translateY(-200px) translateX(20px) scale(1); opacity: 0;}
  }
  
  @keyframes steam-two {
    0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
    100% {transform: translateY(-200px) translateX(20px) scale(1); opacity: 0;}
  }


  